body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


h1 {
    color: #4CAF50;
    margin-bottom: 20px;
}


input {
    width: 90%;
    padding: 10px;
    margin: 15px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
}


button {
    background-color: #a8e6a1;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}


button:hover {
    background-color: #8edb87;
}

button:active {
    background-color: #689961;
}

p {
    margin-top: 20px;
    color: #333;
}