

/* Style the body to center the content */
body {
    text-align: center;
    margin: 20px;
    background-color: #f0f8ff;
}

/* Style the heading */
h1 {
    background-color: #f0f8ff;
}





/* Style the display input */
#display {
    width: 200px;
    height: 40px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
    background-color: #ffffff;
}

/* Style the table */
table {
    background-color: #e0f0ff;
    margin: 0 auto;
    border-collapse: collapse;
}


/* Style the table cells */
td {
    padding: 15px;
    background-color: #f0f8ff;
}

/* Style the buttons */
button {
    width: 50px;
    height: 50px;
    font-size: 18px;
    background-color: #add8e6;
    border: 2px solid #4682b4;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
}

#clear-btn{
    width: 70px;
}